body {
background-color: khaki;
}

h1{
text-align:center;
margin:auto;
color:black;
}

h2{
text-align:center;
color:black;
margin:auto;
font-family: "Times New Roman";
}

p {
text-align:center;
margin:auto;
color: blue;
}