body {
background-color: khaki;
color:blue;
}

h1{
text-align:center;
margin:auto;
color:black;
}

h2{
text-align:center;
font-style:italic;
color:black;
margin:auto;
font-family: "Times New Roman";
}

p {
text-align:center;
margin:auto;
color: white;
}